@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@import "@radix-ui/themes/styles.css";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply transition-colors duration-300;
    }
    body{
        @apply bg-white/80 dark:bg-gray-900 dark:text-gray-100;
    }
}

button{
    cursor: pointer;
}

.cabin{
    font-family: "Cabin", sans-serif;
}

@font-face {
  font-family: 'Odena Glamour';
  src: url('./assets/Fonts/OdenaGlamour-BF6625f66aead7f.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qyore';
  src: url('./assets/Fonts/Qyore.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.odena{
    font-family: 'Odena Glamour';
}

.qyore{
    font-family: 'Qyore';
}

.input-style {
  @apply w-full px-4 py-2 rounded-lg bg-white/70 dark:bg-[#90e1ddfd] text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#4FD1C5];
}

.input{
    @apply text-[#223A5E]
}
textarea{
    @apply text-[#223A5E]
}